*{  
    margin: 0; 
    padding: 0;     
    border: 0; 
    outline: 0;     
    list-style: none; 
    box-sizing: border-box; 
    text-decoration: none; 
    scroll-behavior: smooth; 
}  
     
:focus,:active{outline: none;}  
a:focus,a:active{outline: none;}  
     
nav,footer,header,aside{display: block;}  
     
:root{  
    --boss: rgb(160, 160, 160);  
    --colors: rgb(210, 198, 198);  
}   
     
input,button,textarea{font-family:inherit;}  
     
input::-ms-clear{display: none;}  
button{cursor: pointer;}  
button::-moz-focus-inner {padding:0;border:0;}  
a, a:visited{text-decoration: none;}  
a:hover{text-decoration: none;}  
ul li{list-style: none;}  
img{vertical-align: top;}  
     
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
body{

}
.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    border-bottom: 1px solid #a59d9d;
    background: #e4e4e4;
}
.header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.header__left-img {
    width: 40px;
}
.header__left-p {
    padding-left: 10px;
    flex-grow: 1;
    text-align: left; 
}
.header__right {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.header__right-p {
    padding-right: 10px;
    flex-grow: 1;
    text-align: right;
}
.header__right-img {
    width: 40px;
}
.main {
    display: flex;
    align-items: flex-start;
max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
    border: 2px solid #f90303;
    padding: 10px;
    padding-left: 10px;
   
}
.aside {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding: 10px;
    padding-left: 10px;
    
    height: 100%;

}
.aside-list {
    padding: 10px;
    padding-left: 10px;
    flex: 0;
      padding-left: 10px;
      width: 50px;
     
}
.aside-list-li {
    width: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35px;
}
.aside-list-r {
    background-color: #f5b2b280;
    border-radius: 5px;
    width: 150px;
}
.section {
    flex: 1;
    overflow: auto;
    padding: 20px;
    padding-left: 0px;
}
.section-block {
    
}
.section-block__list {
    width: 85%;
    padding: 5px;
    border: 2px solid #33f507;
}


.section-block__list-li img {
    width: 16px;
    padding-right: 10px; 
}
.section-block__list-li {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    width: 100%;
    border-bottom: 1px solid #ccc; /* Додайте роздільну лінію між елементами */
    padding-bottom: 10px; /* Простір між елементами */
    margin-bottom: 10px; /* Простір нижче кожного елемента */
    
}

.sender-info {
    display: flex;
    align-items: center;
    padding: 10px;
  
    border-bottom: 1px solid #ddd;
   padding-right: 20px;
    align-items: center;
    text-align: left;
   
    width: 20%;
}


.sender-info img {
    width: 22px;
   
    
}
.message-info img {
    width: 26px;

}

.message-info {
    display: flex;
    align-items: center;

    text-align: left;
    justify-content: space-between;
 
   
   width: 600px;
}
.new-info{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.new-info img {
    position: absolute;
    left: -30px;
    top: -10px;
}
span{
    font-weight: 900;
}
.message-info p {
    margin-bottom: 5px;
   
}
body {
    background-color: #ddd; /* Задний фон сірим */
}
.sender-info p,
.message-info p {
    text-align: left;

}


.message-date {
    margin-left: auto; /* Зроблено дату вирівнюванням до правого краю контейнера */
}

